*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{

 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.container0fPage{

  border: 2px solid gray;
  display: flex;
  flex-wrap:wrap ;
  flex-direction: column;
  width: auto;
  margin: 1rem;
  width: 30rem;
  justify-content: center;
  align-content: center;

}
.container0fPage img{

  width: 100%;
  height: 15rem;
}
.container0fPage p{

  /* border: 2px solid red; */
  font-size: 2rem;
}
.Idcontainer{

  border: 2px solid gray;
  margin-top: 2rem;
}
.Idcontainer img{


  width: 20rem;
  height: 20rem;
  margin: 1rem;
}
.Idcontainer h2{

  font-size: 2rem;
}
.Idcontainer p{


  font-size: 2rem;
  ;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}